[submodule "mod/jclic"]
	path = mod/jclic
	url = https://github.com/projectestac/moodle-mod_jclic.git
[submodule "mod/geogebra"]
	path = mod/geogebra
	url = https://github.com/projectestac/moodle-mod_geogebra.git
[submodule "mod/qv"]
	path = mod/qv
	url = https://github.com/projectestac/moodle-mod_qv.git
