[submodule "blocks/completion_progress"]
	path = blocks/completion_progress
	url = https://github.com/deraadt/moodle-block_completion_progress.git
[submodule "blocks/courses_vicensvives"]
	path = blocks/courses_vicensvives
	url = https://github.com/vicensvives/moodle-block_courses_vicensvives.git
[submodule "blocks/licenses_vicensvives"]
	path = blocks/licenses_vicensvives
	url = https://github.com/vicensvives/moodle-block_licenses_vicensvives.git
[submodule "blocks/rgrade"]
	path = blocks/rgrade
	url = https://github.com/projectestac/Rgrade.git
[submodule "course/format/simple"]
	path = course/format/simple
	url = https://github.com/projectestac/moodle-format_simple.git
[submodule "course/format/vv"]
	path = course/format/vv
	url = https://github.com/vicensvives/moodle-format_vicensvives.git
[submodule "filter/wiris"]
	path = filter/wiris
	url = https://github.com/wiris/moodle-filter_wiris.git
[submodule "langpacks"]
	path = langpacks
	url = https://github.com/projectestac/moodle-langpacks.git
