[submodule "mod/jclic"]
	path = mod/jclic
	url = https://github.com/projectestac/moodle-mod_jclic.git
[submodule "mod/geogebra"]
	path = mod/geogebra
	url = https://github.com/projectestac/moodle-mod_geogebra.git
[submodule "mod/qv"]
	path = mod/qv
	url = https://github.com/projectestac/moodle-mod_qv.git
[submodule "mod/journal"]
	path = mod/journal
	url = https://github.com/dmonllao/moodle-mod_journal.git
[submodule "mod/hotpot"]
	path = mod/hotpot
	url = https://github.com/gbateson/moodle-mod_hotpot.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/remotelearner/moodle-mod_questionnaire.git
[submodule "question/format/hotpot"]
	path = question/format/hotpot
	url = https://github.com/gbateson/moodle-qformat_hotpot.git
